
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(black, white);
    font-family: "Nunito", sans-serif;
    background: #f8f8f8;
}

.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main2{
    text-align: center;
}

.footer{
    
    color: gray;
}

.input{
    text-align: center;
    margin: 100px auto;
}     

input[type="text"]{
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-family: "Nunito", sans-serif;
    text-decoration-color: aqua;
    font-weight:  bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: "Nunito", sans-serif;
    font-weight:  bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display{
    text-align: center;
}


#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:left;
  width: 50%;
  margin: 40px auto;
  color:#fff;
  border-left: 3px solid #ed1f24;
  padding: 20px;
}
